* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 20px 50px;
}

nav {
  border: 2px solid black;
  padding: 10px;
}

.main-heading {
  display: flex;
  justify-content: space-between;
}

.main-heading ul {
  display: flex;
}

.main-heading ul li {
  padding: 0 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

#currentDate {
  text-align: right;
  font-size: 0.5rem;
  padding: 5px 0;
}

.book-heading {
  padding: 10px;
  text-align: center;
}

.inserted-books {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.book-title {
  display: flex;
}

.book-title p {
  padding: 0 10px;
}

.main-books-list {
  border: 2px solid black;
  padding: 5px;
}

.main-books-list-ul {
  list-style-type: none;
  margin-bottom: 50px;
}

.main-books-list-ul-li-hr {
  margin: 20px 0;
}

.main-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form-form input {
  padding: 10px;
  width: 50%;
  min-width: 300px;
}

.main-form-form > * {
  margin-bottom: 20px;
}

.main-form-form-submit {
  width: fit-content;
  padding: 10px;
  text-align: right;
}

.book-list-display {
  display: block;
}

.book-list-display h3 {
  text-align: center;
  padding: 10px;
}

.books-display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.book-name {
  display: flex;
}

.book-name p {
  padding: 0 10px;
}

.copyright {
  padding: 5px;
  border: 2px solid black;
  margin-top: 20px;
  font-size: 0.8rem;
}

.contact-info {
  padding: 10px;
  text-align: center;
  margin: 0 150px;
}

.contact-info h3 {
  padding: 50px 0;
}

.contact-info p {
  padding-bottom: 30px;
}
